/* start globle feature */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
}

:root {
    /* colors  */
    --main-background-color: #FFF;
    --sub-background-color: ;
    --main-color: #ea580c;
    --main-shadow: #ea580c40;
    --sub-color: #c2410c;
    --light-color: #fb923c;
    --gray-color: #364153;
    --mid-gray: #4A5565;
    --light-gray: #6A7282;
    --orange-color: #FBE6DC;
    --dark-color: #101828;
    --main-border-color: #e5e7eb;
    --light-bg: #fff7ed;
    --light-orange-color: #FCEADC;
    --dark-main-color: #7c2d12;
    --yellow-color: #FDC700;
    --orange-border: #FBDDCC;

    /* font size  */
    --fs-xs: 12px;
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-xl: 21px;
    --fs-xxl: 28px;
    --fs-3xl: 36px;
    --fs-4xl: 32px;

}

.main-linear-back-color {
    background: linear-gradient(to bottom right,
            var(--main-color),
            var(--sub-color));
}

.main-linear-back-color-reverse {
    background: linear-gradient(to bottom right,
            var(--sub-color),
            var(--main-color));
}

.main-linear-color {
    background: linear-gradient(to right,
            var(--main-color),
            var(--sub-color));
    background-clip: text;
    color: transparent;
}

.sub-linear-back-color {
    background: linear-gradient(to bottom right,
            var(--light-color),
            var(--main-color));
}

.sub-linear-back-color-reverse {
    background: linear-gradient(to bottom right,
            var(--main-color),
            var(--light-color));
}

.light-linear-back-color {
    background: linear-gradient(to bottom right,
            var(--main-color),
            var(--sub-color),
            var(--light-color));
}

.light-linear-back-color-right {
    background: linear-gradient(to right,
            var(--main-color),
            var(--sub-color),
            var(--light-color));
}

.fs-xs {
    font-size: var(--fs-xs);
}

.fs-sm {
    font-size: var(--fs-sm);
}

.fs-md {
    font-size: var(--fs-md);
}

.fs-lg {
    font-size: var(--fs-lg);
}

.fs-xl {
    font-size: var(--fs-xl);
}

.fs-xxl {
    font-size: var(--fs-xxl);
}

.fs-3xl {
    font-size: var(--fs-3xl);
}

.fs-4xl {
    font-size: var(--fs-4xl);
}

.our-shadow {
    transition: 0.3s;
}

.our-shadow:hover {
    box-shadow: 0 10px 25px var(--main-shadow);
}

.gray-color {
    color: var(--gray-color);
}

/* end globle feature */


/* start Navbar */

header {
    background-color: var(--main-background-color);
    border-bottom: 1px solid var(--main-border-color);
}

.logo-icon {
    min-width: 40px;
    min-height: 40px;
    height: 40px;
    color: var(--main-background-color);
}


#header .nav-bar-btn {
    box-shadow: none;
    color: var(--gray-color);
}

#header .navbar-nav .nav-link.active {
    color: var(--main-color);
    position: relative;
}

#header .nav-color,
.sign-in {
    color: var(--gray-color);
    transition: 0.3s;
}

#header .nav-color:hover,
.sign-in:hover {
    color: var(--main-color);
}

.dropdown-menu {
    width: 100%;
    left: 0;
    right: 0;
    max-height: 50vh;
    overflow-y: auto;
    box-shadow: none;
}

.dropdown-head {
    color: var(--main-color);
}

.dropdown-icon {
    color: var(--main-color);
    background-color: var(--orange-color);
    transition: 0.2s;
}

.dropdown-text {
    flex: 1;
}

.dropdown-text p {
    color: var(--light-gray);
}

.dropdown-line {
    transition: 0.2s;
}

.dropdown-line:hover {
    background: linear-gradient(to right,
            #ea580c0d,
            #c2410c0d);
}

.dropdown-line:hover .dropdown-icon {
    transform: scale(1.1);
}

.dropdown-text span {
    transition: 0.2s;
}

.dropdown-line:hover .dropdown-text span {
    color: var(--main-color);
}

.need-help {
    border: 1px solid #ea580c33;
    background: linear-gradient(to bottom right,
            #ea580c1a,
            #c2410c1a);
}

.need-help h4 {
    color: var(--dark-color);
}

.need-help p {
    color: var(--mid-gray);
}

.need-help a {
    color: var(--main-color);
    transition: 0.2s;
}

.need-help a:hover {
    color: var(--sub-color);
}

.dropdown-toggle::after {
    content: "\f107";
    font-family: "Font Awesome 7 Free";
    font-weight: 900;
    border: 0;
    vertical-align: middle;
    transition: 0.3s;

}

.dropdown-toggle.show::after {
    transform: rotate(180deg);
}

.sign-in,
.get-started {
    padding-inline: 32px;
    padding-block: 12px;
}

.sign-in {
    background-color: transparent;
}

.back-color-btn {
    background: linear-gradient(to right,
            var(--main-color),
            var(--sub-color));
    color: var(--main-background-color);
}

@media (max-width: 1199.5px) {
    .header-nav-container {
        width: 100%;
    }

    .dropdown-toggle::after {
        margin-left: auto;
    }

    .sign-in-container {
        flex-direction: column;
    }

    .sign-in {
        border: 1px solid var(--main-border-color) !important;
    }

    .sign-in,
    .get-started {
        width: 100%;
    }
}

/* end Navbar */


/* start hero section */

.hero {
    padding: 110px 0px 64px;
    background: linear-gradient(to bottom right,
            var(--light-bg),
            var(--main-background-color),
            var(--light-bg));
}

.hero-text p {
    line-height: 1.8;
}

.hero-image-container {
    background-color: var(--main-background-color);
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.hero-image-container::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: rotate(3deg);
    background: linear-gradient(to right,
            color-mix(in oklab, var(--main-color) 20%, transparent),
            color-mix(in oklab, var(--sub-color) 20%, transparent));
    border-radius: 25px;
    z-index: -1;
}

.code-icon {
    position: absolute;
    color: var(--main-background-color);
    width: 75.5px;
    height: 75.5px;
    top: -24px;
    right: -24px;
    z-index: 5;
}

.mobile-icon {
    position: absolute;
    color: var(--main-background-color);
    width: 63px;
    height: 63px;
    bottom: -24px;
    left: -24px;
    z-index: 5;
}

.top-hero {
    color: var(--main-color);
    background-color: var(--light-orange-color);
}

.start-your-project,
.watch-tournaments-btn {
    transition: 0.3s;
}

.watch-tournaments-btn {
    border: 2px solid var(--main-border-color);
}

.start-your-project:hover {
    transform: translateY(-4px);
}

.watch-tournaments-btn:hover {
    color: var(--main-color);
    border-color: var(--main-color);
}

.hero-p {
    color: var(--mid-gray);
}

.stat-number {
    color: var(--main-color);
}

.stat-label {
    color: var(--mid-gray);
}

.digital-sol {
    background: linear-gradient(to right,
            var(--dark-main-color),
            var(--main-color),
            var(--sub-color));
    background-clip: text;
    color: transparent;
}

.that-drive {
    color: var(--dark-main-color);
}

.growth {
    background: linear-gradient(to right,
            var(--light-color),
            var(--main-color));
    background-clip: text;
    color: transparent;
}

/* end hero section */


/* start  Our Services */

.section-header {
    margin-bottom: 80px;
}

.our-services {
    padding-block: 96px;
}

.our-services-p {
    max-width: 760px;
    margin: auto;
    color: var(--mid-gray);
}

.services-card {
    border: 1px solid var(--main-border-color);
}

.services-icon {
    width: 56px;
    height: 56px;
    color: var(--main-background-color);
    transition: 0.3s;
}

.services-header {
    color: var(--dark-main-color);
}

.services-p {
    color: var(--mid-gray);
}

.sol-list {
    color: var(--mid-gray);
}

.sol-list i,
.learn-more {
    color: var(--main-color);
}

.services-card:hover {
    transform: translateY(-10px);
}

.services-card:hover .services-icon {
    transform: scale(1.1);
}

.learn-more span {
    transition: 0.3s;
}

.services-card:hover .learn-more span {
    margin-right: 12px !important;
}


/* end  Our Services */


/* start Technology Stack */


.technology-stack {
    padding-block: 84px;
}

.technology-carousel .carousel-indicators {
    position: static;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.technology-carousel .carousel-indicators [data-bs-target] {
    all: unset;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 16px;
    color: var(--gray-color);
    font-weight: 600;
    transition: 0.3s;
}

.technology-carousel .carousel-indicators [data-bs-target]:hover,
.technology-carousel .carousel-indicators .active {
    color: var(--main-color);
}

.technology-carousel .carousel-indicators [data-bs-target]::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--main-border-color);
}

.technology-carousel .carousel-indicators [data-bs-target]::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    transform: scaleX(0);
    transform-origin: center;
    transition: 0.3s ease;
}

.technology-carousel .carousel-indicators [data-bs-target]:hover::after,
.technology-carousel .carousel-indicators .active::after {
    transform: scaleX(1);
}

.technology-card,
.services-card {
    height: 100%;
}

.technology-card {
    transition: 0.3s;
}

.technology-card:hover {
    box-shadow:
        0 20px 25px -5px #0000001a,
        0 8px 10px -6px #0000001a;
    transform: translateY(-10px);
}

.react-card {
    background-color: #E5F0FF;
}

.react-icon {
    background-color: #2B7FFF;
}

.react-learn {
    background-color: #DBEAFE;
    color: #193CB8;
}

.next-card {
    background-color: #F6F7F9;
}

.next-icon {
    background-color: #000;
}

.next-learn {
    background-color: #F3F4F6;
    color: #1E2939;
}

.vue-card {
    background-color: #E9FDEF;
}

.vue-icon {
    background-color: #00C950;
}

.vue-learn {
    background-color: #DBFCE7;
    color: #016630;
}

.angular-card {
    background-color: #FFF3E2;
}

.angular-icon {
    background-color: #FF6900;
}

.angular-learn {
    background-color: #FFEDD4;
    color: var(--dark-main-color);
}

.css-card {
    background-color: #E1FDFF;
}

.css-icon {
    background-color: #00B8DB;
}

.css-learn {
    background-color: #CEFAFE;
    color: #02617A;
}

.vite-card {
    background-color: #F8F1FF;
}

.vite-icon {
    background-color: #AD46FF;
}

.vite-learn {
    background-color: #F3E8FF;
    color: #6E11B0;
}

.go-card {
    background-color: #FEECEC;
}

.go-icon {
    background-color: #E7000B;
}

.go-learn {
    background-color: #FFE2E2;
    color: #9F0712;
}

.net-card {
    background-color: #E8EEFF;
}

.net-icon {
    background-color: #4F39F6;
}

.net-learn {
    background-color: #E0E7FF;
    color: #372AAC;
}

.ruby-card {
    background-color: #E3FDF7;
}

.ruby-icon {
    background-color: #009689;
}

.ruby-learn {
    background-color: #CBFBF1;
    color: #005F5A;
}

.apple-icon {
    background-color: #364153;
}

.sql-card {
    background-color: #FEFAD7;
}

.sql-icon {
    background-color: #D08700;
}

.sql-learn {
    background-color: #FEF9C2;
    color: #894B00;
}

/* end Technology Stack */


/* start  Client Testimonials */

.client-testimonials {
    padding-block: 96px;
    background: linear-gradient(to bottom right,
            var(--light-bg),
            var(--main-background-color),
            var(--light-bg));
}

.testimonial-card {
    background: linear-gradient(to bottom right,
            color-mix(in oklab, var(--min-gray) 50%, transparent),
            color-mix(in oklab, var(--main-color) 50%, transparent));
    box-shadow:
        0 10px 30px rgba(0, 0, 0, 0.12),
        0 4px 10px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

.testimonial-card:hover {
    background: linear-gradient(to bottom right,
            var(--light-bg),
            var(--main-background-color),
            var(--light-bg));
}

.testimonial-card:hover .rating-icon {
    transform: scale(1.1);
}

.rating-icon {
    color: var(--main-color);
    background-color: var(--orange-color);
}

.stars-icons {
    color: var(--yellow-color);
}

.rate {
    color: var(--light-gray);
}

.testimonial-p {
    color: var(--gray-color);
    position: relative;
}

.h-line {
    width: 100%;
    height: 1px;
    background-color: var(--main-border-color);
}

.person-photo {
    width: 80px;
    height: 80px;
    padding: 1.5px;
    border: 2px solid var(--orange-border);
    position: relative;
}

.person-photo::after {
    content: "\f00c";
    font-family: "Font Awesome 7 Free";
    font-weight: 900;
    font-size: 12px;
    position: absolute;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    bottom: -2px;
    right: -2px;
    border: 2px solid var(--main-background-color);
    color: var(--main-background-color);
    background: linear-gradient(to bottom right,
            var(--main-color),
            var(--sub-color));
}

.person-name {
    color: var(--dark-main-color);
}

.career {
    color: var(--gray-color);
}

.linkedin {
    color: var(--main-color);
}

.v-on-ln,
.right-text {
    color: var(--mid-gray);
}


.testimonials-indicators {
    position: static;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 5px;
}


.carousel-indicators-container .testimonials-indicators button {
    width: 8px !important;
    height: 8px !important;
    border-radius: 50%;
    background-color: var(--mid-gray) !important;
    transition: 0.3s !important;
    display: inline-block !important;
    flex: 0 0 auto;
    border-width: 0px 0px;
}


.carousel-indicators-container .testimonials-indicators .active {
    background-color: var(--main-color) !important;
}

.carousel-indicators-container .testimonials-indicators button:hover {
    width: 32px !important;
    border-radius: 999px !important;
    background-color: rgba(234, 88, 12, 0.5) !important;
}

.carousel-inner {
    padding: 40px 0;
}

/* end  Client Testimonials */


/* start FAQ */

.faq {
    padding-block: 96px;
}

.accordion-list {
    overflow: hidden;
    border: 1px solid var(--main-border-color);
    margin-bottom: 20px;
    transition: 0.3s;
}


.accordion-item:not(:first-of-type) {
    border-top: 1px solid var(--main-border-color);
    transition: 0.3s;
}

.accordion-list:hover,
.accordion-item:not(:first-of-type):hover {
    border-color: var(--orange-border);
}

.accordion-button {
    color: var(--dark-main-color);
}

.accordion-button:not(.collapsed) {
    background-color: #F9FAFB;
    color: var(--dark-main-color);
    box-shadow: none;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
}

.accordion-button::after {
    background-image: none;
    content: "\f078";
    font-family: "Font Awesome 7 Free";
    font-weight: 900;
    display: flex;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #F6E9E3;
    color: var(--main-color);
    width: 40px;
    height: 40px;

}

.accordion-p {
    color: var(--gray-color);
}


/* end FAQ */


/* start contact us */

.contact-us {
    padding-block: 84px;
    background: linear-gradient(to bottom right,
            var(--light-bg),
            var(--main-background-color),
            var(--light-bg));
}

.form form input,
.form form select,
textarea {
    background-color: #F3F4F6;
    border: 2px solid transparent;
    outline: 3px solid transparent;
    transition: 0.3s;
}

.form form input:focus,
.form form select:focus,
textarea:focus {
    border-color: var(--main-color);
    outline-color: var(--orange-border);
    transform: translateY(-2px);
}

.form form textarea {
    resize: none;
    min-height: 155px;
    max-height: 160px;
}

.budget-card {
    cursor: pointer;
}

.budget-card-container {
    border: 2px solid #e5e7eb80;
    background: var(--main-background-color);
    transition: 0.3s;
}

.budget-card:hover .budget-card-container {
    border-color: var(--main-border-color);
}

input[type="radio"]:checked+.budget-card .budget-card-container {
    border-color: var(--main-color);
    background: var(--light-bg);
}

input[type="radio"]:checked+.budget-card .budget-value {
    color: var(--main-color);
}

.subscribe a {
    color: var(--main-color);
    text-decoration: none;
    transition: 0.3s;
}

.subscribe a:hover {
    text-decoration: underline;
}

.subscribe input {
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: var(--main-color);
    transition: 0.3s;
}


.free-consultation {
    color: var(--main-background-color);
    transition: 0.3s;
}

.free-consultation:hover {
    transform: translateY(-6px);
}

.free-consultation i {
    transition: 0.3s;
}

.free-consultation:hover i {
    transform: translateX(6px);
}

.contact-container {
     border-radius: 30px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.why-choose-value i {
    background-color: #CB6B3B;
}

.why-choose h4,
.why-choose h5,
.direct-contact i,
.direct-contact h5 {
    color: var(--main-background-color);
}

.why-choose p {
    color: #F2DACE;
}

.direct-text {
    color: #F8E8E2;
}

.contact-form {
    background-color: var(--main-background-color);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.why-us {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.hr {
    width: 100%;
    height: 0.1px;
    background-color: var(--main-color);
}

/* end contact us */


/* start footer */


/* end footer */


/* media */

/* xs */
@media screen and (max-width:576px) {}

/* sm */
@media screen and (min-width:576px) {
    .hero-image-container {
        width: 462px;
        height: 462px;
    }

    .start-your-project,
    .watch-tournaments-btn {
        width: fit-content !important;
    }
}

/* md */
@media screen and (min-width:768px) {
    .hero-image-container {
        width: 574px;
        height: 574px;
    }
}

/* lg */
@media screen and (min-width:992px) {
    :root {
        --fs-4xl: 50px;
    }

    .hero-image-container {
        width: 336px;
        height: 336px;
    }

    .mobile-icon {
        width: 70px;
        height: 70px;
    }

    .code-icon {
        width: 84px;
        height: 84px;
    }

    .contact-form {
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        border-top-right-radius: 0px;
    }

    .why-us {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;
    }

}

/* xl */
@media screen and (min-width:1200px) {
    :root {
        --fs-xs: 14px;
        --fs-sm: 16px;
        --fs-md: 18px;
        --fs-lg: 20px;
        --fs-xl: 24px;
        --fs-xxl: 32px;
        --fs-3xl: 48px;
        --fs-4xl: 60px;
    }

    .main-container {
        max-width: 100%;
    }

    #header .navbar-nav .nav-link {
        position: relative;
    }

    #header .navbar-nav .nav-link::before {
        content: "";
        position: absolute;
        height: 2px;
        width: calc(100% - 16px);
        left: 8px;
        bottom: 4px;
        background-color: var(--sub-color);
        transform: scaleX(0);
        transform-origin: left;
        transition: 0.3s;
    }

    #header .navbar-nav .nav-link.active::before {
        transform: scaleX(1);
    }

    .dropdown-menu {
        width: 72rem;
        max-height: max-content;
        transform: translate(-20%, 2%);
        border-radius: 1rem;
        box-shadow: 0 1rem 3rem #0000002d;
    }

    .hero-image-container {
        width: 525px;
        height: 525px;
    }

    .mobile-icon {
        width: 80px;
        height: 80px;
    }

    .code-icon {
        width: 96px;
        height: 96px;
    }

    .services-icon {
        width: 64px;
        height: 64px;
    }
}

/* xxl */
@media screen and (min-width:1400px) {}