/* start globle feature */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
}

:root {
    /* colors  */
    --main-background-color: #FFF;
    --sub-background-color: ;
    --main-color: #ea580c;
    --main-shadow: #ea580c40;
    --sub-color: #c2410c;
    --light-color: #fb923c;
    --gray-color: #364153;
    --mid-gray: #4A5565;
    --light-gray: #6A7282;
    --orange-color: #FBE6DC;
    --dark-color: #101828;
    --main-border-color: #e5e7eb;
    --light-bg: #fff7ed;
    --light-orange-color: #FCEADC;
    --dark-main-color: #7c2d12;

    /* font size  */
    --fs-xs: 12px;
    --fs-sm: 14px;
    --fs-md: 16px;
    --fs-lg: 18px;
    --fs-xl: 21px;
    --fs-xxl: 28px;
    --fs-3xl: 36px;
    --fs-4xl: 32px;

}

.main-linear-back-color {
    background: linear-gradient(to bottom right,
            var(--main-color),
            var(--sub-color));
}

.main-linear-back-color-reverse {
    background: linear-gradient(to bottom right,
            var(--sub-color),
            var(--main-color));
}

.main-linear-color {
    background: linear-gradient(to right,
            var(--main-color),
            var(--sub-color));
    background-clip: text;
    color: transparent;
}

.sub-linear-back-color {
    background: linear-gradient(to bottom right,
            var(--light-color),
            var(--main-color));
}

.fs-xs {
    font-size: var(--fs-xs);
}

.fs-sm {
    font-size: var(--fs-sm);
}

.fs-md {
    font-size: var(--fs-md);
}

.fs-lg {
    font-size: var(--fs-lg);
}

.fs-xl {
    font-size: var(--fs-xl);
}

.fs-xxl {
    font-size: var(--fs-xxl);
}

.fs-3xl {
    font-size: var(--fs-3xl);
}

.fs-4xl {
    font-size: var(--fs-4xl);
}

.our-shadow {
    transition: 0.3s;
}

.our-shadow:hover {
    box-shadow: 0 10px 25px var(--main-shadow);
}

/* end globle feature */


/* start Navbar */

header {
    background-color: var(--main-background-color);
    border-bottom: 1px solid var(--main-border-color);
}

.logo-icon {
    min-width: 40px;
    min-height: 40px;
    height: 40px;
    color: var(--main-background-color);
}


#header .nav-bar-btn {
    box-shadow: none;
    color: var(--gray-color);
}

#header .navbar-nav .nav-link.active {
    color: var(--main-color);
    position: relative;
}

#header .nav-color,
.sign-in {
    color: var(--gray-color);
    transition: 0.3s;
}

#header .nav-color:hover,
.sign-in:hover {
    color: var(--main-color);
}

.dropdown-menu {
    width: 100%;
    left: 0;
    right: 0;
    max-height: 50vh;
    overflow-y: auto;
    box-shadow: none;
}

.dropdown-head {
    color: var(--main-color);
}

.dropdown-icon {
    color: var(--main-color);
    background-color: var(--orange-color);
    transition: 0.2s;
}

.dropdown-text {
    flex: 1;
}

.dropdown-text p {
    color: var(--light-gray);
}

.dropdown-line {
    transition: 0.2s;
}

.dropdown-line:hover {
    background: linear-gradient(to right,
            #ea580c0d,
            #c2410c0d);
}

.dropdown-line:hover .dropdown-icon {
    transform: scale(1.1);
}

.dropdown-text span {
    transition: 0.2s;
}

.dropdown-line:hover .dropdown-text span {
    color: var(--main-color);
}

.need-help {
    border: 1px solid #ea580c33;
    background: linear-gradient(to bottom right,
            #ea580c1a,
            #c2410c1a);
}

.need-help h4 {
    color: var(--dark-color);
}

.need-help p {
    color: var(--mid-gray);
}

.need-help a {
    color: var(--main-color);
    transition: 0.2s;
}

.need-help a:hover {
    color: var(--sub-color);
}

.dropdown-toggle::after {
    content: "\f107";
    font-family: "Font Awesome 7 Free";
    font-weight: 900;
    border: 0;
    vertical-align: middle;
    transition: 0.3s;

}

.dropdown-toggle.show::after {
    transform: rotate(180deg);
}

.sign-in,
.get-started {
    padding-inline: 32px;
    padding-block: 12px;
}

.sign-in {
    background-color: transparent;
}

.back-color-btn {
    background: linear-gradient(to right,
            var(--main-color),
            var(--sub-color));
    color: var(--main-background-color);
}

@media (max-width: 1199.5px) {
    .header-nav-container {
        width: 100%;
    }

    .dropdown-toggle::after {
        margin-left: auto;
    }

    .sign-in-container {
        flex-direction: column;
    }

    .sign-in {
        border: 1px solid var(--main-border-color) !important;
    }

    .sign-in,
    .get-started {
        width: 100%;
    }
}

/* end Navbar */


/* start hero section */

.hero {
    padding: 110px 0px 64px;
    background-color: orange;
    background: linear-gradient(to bottom right,
            var(--light-bg),
            var(--main-background-color),
            var(--light-bg));
}

.hero-text p {
    line-height: 1.8;
}

.hero-image-container {
    background-color: var(--main-background-color);
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.hero-image-container::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transform: rotate(3deg);
    background: linear-gradient(to right,
            color-mix(in oklab, var(--main-color) 20%, transparent),
            color-mix(in oklab, var(--sub-color) 20%, transparent));
    border-radius: 25px;
    z-index: -1;
}

.code-icon {
    position: absolute;
    color: var(--main-background-color);
    width: 75.5px;
    height: 75.5px;
    top: -24px;
    right: -24px;
    z-index: 5;
}

.mobile-icon {
    position: absolute;
    color: var(--main-background-color);
    width: 63px;
    height: 63px;
    bottom: -24px;
    left: -24px;
    z-index: 5;
}

.top-hero {
    color: var(--main-color);
    background-color: var(--light-orange-color);
}

.start-your-project,
.watch-tournaments-btn {
    transition: 0.3s;
}

.watch-tournaments-btn {
    border: 2px solid var(--main-border-color);
}

.start-your-project:hover {
    transform: translateY(-4px);
}

.watch-tournaments-btn:hover {
    color: var(--main-color);
    border-color: var(--main-color);
}

.hero-p {
    color: var(--mid-gray);
}

.stat-number {
    color: var(--main-color);
}

.stat-label {
    color: var(--mid-gray);
}

.digital-sol {
    background: linear-gradient(to right,
            var(--dark-main-color),
            var(--main-color),
            var(--sub-color));
    background-clip: text;
    color: transparent;
}

.that-drive {
    color: var(--dark-main-color);
}

.growth {
    background: linear-gradient(to right,
            var(--light-color),
            var(--main-color));
    background-clip: text;
    color: transparent;
}

/* end hero section */


/* start  Our Services */

/* end  Our Services */


/* start Technology Stack */

/* end Technology Stack */


/* start  Client Testimonials */

/* end  Client Testimonials */


/* start FAQ */

/* end FAQ */


/* start contact us */

/* end contact us */


/* start footer */

/* end footer */


/* media */

/* xs */
@media screen and (max-width:576px) {}

/* sm */
@media screen and (min-width:576px) {
    .hero-image-container {
        width: 462px;
        height: 462px;
    }

    .start-your-project,
    .watch-tournaments-btn {
        width: fit-content !important;
    }
}

/* md */
@media screen and (min-width:768px) {
    .hero-image-container {
        width: 574px;
        height: 574px;
    }
}

/* lg */
@media screen and (min-width:992px) {
    :root {
        --fs-4xl: 50px;
    }

    .hero-image-container {
        width: 336px;
        height: 336px;
    }

    .mobile-icon {
        width: 70px;
        height: 70px;
    }

    .code-icon {
        width: 84px;
        height: 84px;
    }
}

/* xl */
@media screen and (min-width:1200px) {
    :root {
        --fs-xs: 14px;
        --fs-sm: 16px;
        --fs-md: 18px;
        --fs-lg: 20px;
        --fs-xl: 24px;
        --fs-xxl: 32px;
        --fs-3xl: 48px;
        --fs-4xl: 60px;
    }

    .main-container {
        max-width: 100%;
    }

    .hero-image-container {
        width: 415px;
        height: 415px;
    }

    #header .navbar-nav .nav-link.active:before {
        content: "";
        position: absolute;
        height: 2px;
        width: calc(100% - 16px);
        bottom: 4px;
        background-color: var(--sub-color);
    }

    .dropdown-menu {
        width: 72rem;
        max-height: max-content;
        transform: translate(-20%, 2%);
        border-radius: 1rem;
        box-shadow: 0 1rem 3rem #0000002d;
    }

    .hero-image-container {
        width: 525px;
        height: 525px;
    }

    .mobile-icon {
        width: 80px;
        height: 80px;
    }

    .code-icon {
        width: 96px;
        height: 96px;
    }
}

/* xxl */
@media screen and (min-width:1400px) {}